@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
}

#conteneur {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
}

header {
	display: flex;
	align-items: center;
	height: 56px;
	padding: 0 14px;
	border: 1px solid #e1e4e8;
	border-right: none;
	border-left: none;
}

header h1 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: -0.02em;
	margin-right: 8px;
}

nav {
	margin-left: auto;
	display: flex;
	gap: 12px;
}

nav a {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	text-decoration: none;
	color: rgb(75 85 99);
}

.actif {
	color: black;
	text-decoration: underline;
}

nav a:hover {
	text-decoration: underline;
	color: black;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0 8px;
	align-self: center;
	max-width: 1200px;
}

#biographie {
	height: 50%;
}

#contenu {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	margin: 0 auto;
	padding: 0 8px;
}

#titre {
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: -0.03em;
	max-width: 300px;
}

#introduction {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 0 auto;
	color: rgb(75 85 99);
	max-width: 600px;
}

#rsociaux {
	display: flex;
	gap: 8px;
	margin-top: 16px;
}



.carte {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 16px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	max-width: 300px;
	line-height: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.carte h2 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 28px;
}

.pu {
	margin-top: 16px;
	font-size: 14px;
	font-weight: 500;
	color: rgb(75 85 99);
}

.au {
	font-size: 14px;
	font-weight: 400;
	color: rgb(75 85 99);
}

.badge {
	align-items: center;
	gap: 8px;
	margin-top: 6px;
	font-size: 12px;
	font-weight: 500;
	background-color: black;
	color: white;
	border-radius: 30px;
	display: inline-block;
	padding: 1px 8px;
}

#chronologie {
	display: flex;
	gap: 16px;
}

.logo {
	height: 40px;
	margin-bottom: 12px;
}

#titresection {
	font-size: 38px;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 28px;
	margin-bottom: 18px;
}

#descsection {
	font-size: 16px;
	font-weight: 400;
	color: rgb(75 85 99);
	line-height: 24px;
	margin-bottom: 28px;
}

#retour {
	margin: 16px 16px;
	padding: 8px;
}


#retour a {
	border: 1px solid #e1e4e8;
	padding: 8px 14px;
	border-radius: 30px;
	text-decoration: none;
	color: rgb(75 85 99);
	font-size: 14px;
	font-weight: 500;
}

#retour a:hover {
	color: black;
}

.comp {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 16px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	max-width: 200px;
	line-height: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.comp h2 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.02em;
}

.comp p {
	font-size: 14px;
	font-weight: 400;
	color: rgb(75 85 99);
	line-height: 24px;
	margin: 16px 0;
}

#competences {
	gap: 16px;
	display: flex;
	align-items: start;
}

.exp {
	max-width: 600px;
	padding: 16px;
	border-bottom: 1px solid #e1e4e8;
	line-height: 24px;
}

.entreprise {
	display: flex;
	align-items: center;
	gap: 8px;
}

.entreprise .nom {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.02em;
}

.entreprise .logo {
	border: 1px solid #e1e4e8;
	margin: 0;
	border-radius: 6px;
	padding: 6px;
	height: 18px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.dur {
	font-size: 12px;
	font-weight: 400;
	color: rgb(75 85 99);
}

.desc {
	font-size: 16px;
	font-weight: 500;
	color: rgb(75 85 99);
	line-height: 24px;
	margin: 16px 0;
}

.blocquestion {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 16px;
	padding: 24px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	min-width: 900px;
	line-height: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.reponses h2 {
	font-size: 16px;
	letter-spacing: -0.02em;
}

.reponses .reponse {
	display: flex;
	font-weight: 500;
	align-items: center;
	color: rgb(75 85 99);
	gap: 8px;
	font-size: 14px;
}

#quiz {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 16px;
	line-height: 24px;
}

#resultat {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 16px;
	line-height: 24px;
}

#resultat .btnquiz {
	border: 1px solid #e1e4e8;
	padding: 10px 14px;
	border-radius: 8px;
	text-decoration: none;
	color: white;
	background-color: black;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

#clubs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 16px;
	line-height: 24px;
}

.club {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	width: 650px;
	line-height: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.club h2 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 28px;
}

.club p {
	font-size: 14px;
	font-weight: 400;
	color: rgb(75 85 99);
	line-height: 24px;
	margin: 16px 0;
}

#projets {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 16px;
	line-height: 24px;
}

.projet {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	width: 650px;
	line-height: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.projet h2 {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 28px;
}

.projet p {
	font-size: 14px;
	font-weight: 400;
	color: rgb(75 85 99);
	line-height: 24px;
	margin: 8px 0;
}